.details {
    width : 400px;
    margin-bottom: 20px;
    margin-top : 20px;
}

.logo {
    font-size: 2rem;
    text-align: center;
    font-family: 'Seymour One', sans-serif;
    text-transform: uppercase;
    
    display : flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    color : var(--yellow);
}

.pink {
    color : var(--pink);
}

.game-number {
    font-size : 1.5rem;
    border : 2px solid #000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.player-cards {
    margin-top: 20px;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family : 'Open Sans', sans-serif;
}

.player-1, .player-2 {
    display : flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;

    width : 45%;
    border-radius : 10px;
    background-color: var(--color1);
    padding: 10px;
    font-weight: bold;
    color : white;
}

.player-1-avatar, .player-2-avatar {
    width : 60px;
    height : 60px;
    margin: 0 auto 0 auto;
    border-radius : 50%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
}

.player-1-move, .player-2-move {
    font-family: var(--boldFont);
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .details {
        width : 80%;
    }

    .turn, .scores {
        font-size: 1.2rem;
    }

    .logo {
        width : 80%;
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 2rem;
    }

    .text::before {
        filter : blur(1px);
    }
}
