:root {
    --color1 : #3a1c94;
    --color2 : #1e0e4f;  
    --color3 : #0c0521;
    --borderColor : #5423e8;  
    --yellow : #fae034;
    --pink : #f02b8d;
    --red  : #fc5603;    
    --green : #42eb63;
    --orange : #fcb603;
    --handFont : 'Architects Daughter', cursive;
    --boldFont : 'Seymour One', sans-serif;
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    height : 100%;
    width : 100%;
}

body {
    height : 100%;
    width : 100%;
    font-family: var(--handFont);
    display : flex;
    flex-flow : column;
    justify-content : center;
    align-items : center;
    color : white;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    background-image: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3));
}

.reset-game-button {
    display : inline-flex;
    justify-content: center;
    align-items: center;

    outline : 0;
    border : 0;
    font-family: inherit;
    font-size: 1.5rem;
    cursor : pointer;
    color : var(--color3);
    width : 40px;
    height : 40px;
    background-image : linear-gradient(to bottom, var(--yellow), var(--red));
    border-radius : 50%;
    margin-top: 5px;

    transition: all 0.2s ease;
}

.reset-game-button {
    display : block;
}

.reset-game-button:active {
    transform: translateY(5px);
    box-shadow: none;
}

.reset-game-button:hover {
    transform: rotate(360deg);
}

::-webkit-scrollbar {
    display: none;
}