:root {
    --color1 : #3a1c94;
    --color2 : #1e0e4f;  
    --color3 : #0c0521;
    --borderColor : #5423e8;  
    --yellow : #fae034;
    --pink : #f02b8d;
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    height : 100%;
    width : 100%;
}

body {
    height : 100%;
    width : 100%;
    font-family: 'Architects Daughter', cursive;
    display : flex;
    flex-flow : column;
    justify-content : center;
    align-items : center;
    
    background-image: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3));
}

.reset-game {
    font-size : 2rem;
    margin-top : 10px;
    border : 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    border-radius : 10px;
}

.reset-game-button:focus {
    outline: 0;
}